<!-- Create your form here -->
<h1>Student Form</h1>

<%= form_tag students_path do %>
  <label>Fiiiiirst Name:</label><br>
  <%= text_field_tag :first_name %><br>

  <label>Lasttttt Name:</label><br>
  <%= text_area_tag :last_name %><br>

  <%= submit_tag "Submit Student" %>
<% end %>
